<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurePlease.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CurePlease.Properties.Settings>
            <setting name="curePercentage" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="cure1enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cure2enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cure3enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cure4enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cure5enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cure6enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cure1amount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="cure2amount" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="cure3amount" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="cure4amount" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="cure5amount" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="cure6amount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="priorityCurePercentage" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="afflatusSolice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="afflatusMisery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="divineSeal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightArts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sublimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plAgiDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plAccuracyDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plAddle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plAttackDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBlindness" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plChrDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plChoke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plCurse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plCurse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDexDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDefenseDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDrown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plElegy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plEvasionDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plFrost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plHelix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plIntDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMndDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMagicAccDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMagicAtkDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMaxHpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMaxMpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plMaxTpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plParalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plPetrification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plPlague" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plPoison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plRasp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plRequiem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plStrDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plShock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plSilence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="plSlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plThrenody" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plVitDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plWeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredAgiDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredAccuracyDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredAddle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredAttackDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredBane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredBind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredBio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredBlindness" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredBurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredChrDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredChoke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredCurse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredCurse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDexDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDefenseDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDrown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredElegy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredEvasionDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredFrost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredHelix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredIntDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMndDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMagicAccDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMagicAtkDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMaxHpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMaxMpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredMaxTpDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredParalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredPetrification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredPlague" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredPoison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredRasp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredRequiem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredStrDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredShock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredSilence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="monitoredSleep2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="monitoredSlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredThrenody" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredVitDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredWeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plDebuffEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDebuffEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plSilenceItemIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plSilenceItemEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wakeSleepEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wakeSleepSpellIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plSilenceItemString" serializeAs="String">
                <value>Echo Drops</value>
            </setting>
            <setting name="wakeSleepSpellString" serializeAs="String">
                <value>Cure</value>
            </setting>
            <setting name="plBlink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plReraise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plReraiseLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plRefreshLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plStoneskin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Composure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoHasteMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="plDisease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDisease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPhalanxIIMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="plDoomEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PLDoomitem" serializeAs="String">
                <value>Holy Water</value>
            </setting>
            <setting name="mpMinCastValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lowMPcheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naSpellsenable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naBlindness" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naCurse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naDisease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naParalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naPetrification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naPlague" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naPoison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="naSilence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plProtectra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plShellra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plProtectralevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plShellralevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plDoomindex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lowMPuseitem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mpMintempitemusage" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="autoRefreshMinutes" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="autoShellMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Convert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="divineSealBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCastEngageCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRegenSpell" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoRefreshSpell" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoProtectSpell" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoShellSpell" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="autoRegenMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoProtectMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="plPhalanx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeoSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeoSpell_Target" serializeAs="String">
                <value />
            </setting>
            <setting name="IndiSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EntrustedIndiSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Entrusted_Target" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableGeoSpells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plTemper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plTemperLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plGainBoost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plGainBoost_Spell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plEnspell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plEnspell_Spell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indiRecast" serializeAs="String">
                <value>2.3</value>
            </setting>
            <setting name="GEO_engaged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Entrust" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dematerialize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBarElement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBarElement_Spell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plBarStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plBarStatus_Spell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plKlimaform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plStormSpell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plStormSpell_Spell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plAuspice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLuopanSpells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlazeOfGlory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoTargetSpell" serializeAs="String">
                <value>Dia II</value>
            </setting>
            <setting name="RadialArcana" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadialArcanaMP" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FullCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curagaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curaga2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curaga3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curaga4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curaga5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curagaAmount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="curaga2Amount" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="curaga3Amount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="curaga4Amount" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="curaga5Amount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="curagaCurePercentage" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConvertMP" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RadialArcanaSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pauseOnZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pauseOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="plAquaveil" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoFollowName" serializeAs="String">
                <value />
            </setting>
            <setting name="autoFollowDistance" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="curagaTargetType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="curagaTargetName" serializeAs="String">
                <value />
            </setting>
            <setting name="naErase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="curagaRequiredMembers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DevotionBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevotionMP" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DevotionTargetType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevotionTargetName" serializeAs="String">
                <value />
            </setting>
            <setting name="DevotionWhenEngaged" serializeAs="String">
                <value>False</value>
            </setting>
        </CurePlease.Properties.Settings>
    </userSettings>
</configuration>